$font: 'MoOneRegular',Helvetica,Arial;
$font-bold: 'MoOneBold',Helvetica,Arial;
$font-light: 'MoOneLight',Helvetica,Arial;


$default-text-shadow-color: rgba(black, 0.3);
$default-text-shadow-blur: 10px;
$default-text-shadow-v-offset: 5px;
$bezier: cubic-bezier(0.645, 0.045, 0.355, 1.000);